.projects {

    &__item-hide {
        display: none;
    }

    &__bottom-desc {
        background: linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 76%));
    }

    &__title {
        font-family: $default-font-family-bold;
        font-size: 24px;
        color: #fff;
    }

    &__more-btn {
        font-family: $default-font-family;
        font-size: 18px;
    }
    
    &__load-btn {
        font-family: $default-font-family-bold;
        font-size: 18px;
        color: $color-blue-gray;
        width: 100%;
        max-width: 360px;
        border-radius: 0;
        border-width: 2px;
        border-color: $color-blue-gray;

        @include is-hover {
            &:hover {
                background: $color-blue-gray;
                border-color: $color-blue-gray;
            }
        }

        @include max-screen($sm) {
            font-size: 15px;
        }
    }

    &__load-btn__hide {
        display: none;
    }
}