@font-face {
	font-family: "DINPro regular";
	font-style: normal;
	font-weight: 400;
  
	src: url("../fonts/DINPro.eot") format("eot"),
		 url("../fonts/DINPro.woff") format("woff"),
		 url("../fonts/DINPro.ttf") format("ttf");
  }