$default-font-family: 'DINPro regular', sans-serif;
$default-font-family-medium: 'DINPro medium', sans-serif;
$default-font-family-bold: 'DINPro bold', sans-serif;
$second-font-family: 'MyriadPro regular', sans-serif;

$sm: 575px;
$md: 767px;
$lg: 1200px;

$color-blue-gray: #344258;

$footer-bg: #0d1b2b;
$footer-text-color: #3d95e3;
$footer-text-color2: #4c89c1;

$form-bg: #243448;