$default-font-family: 'DINPro regular', sans-serif;
$default-font-family-bold: 'DINPro bold', sans-serif;
$second-font-family: 'MyriadPro regular', sans-serif;

$md: 767px;

$color-blue-gray: #344258;

$footer-bg: #0d1b2b;