.form-request {
    border: 5px solid $form-bg;
    padding: 38px;
    margin: 30px 0 100px;

    .form-control {
        background: $form-bg;
        border: none;
        border-radius: 0;
        margin: 0 0 2px 0;
        font-family: $default-font-family-medium;
        font-size: 15px;
        color: #fff;
        padding: 22px 34px;
        height: 56px;

        &::placeholder {
            color: #fff;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #fff;
        }
        &::-ms-input-placeholder {
            color: #fff;
        }
    }
    textarea.form-control {
        resize: none;
        height: 114px;
    }

    &__policy-link {
        font-family: $default-font-family-medium;
        font-size: 14px;
        color: $footer-text-color2;
        line-height: 1;
        display: block;
        padding: 15px 0;
        text-align: center;

        &:hover {
            color: $footer-text-color2;
        }
    }

    &__submit {
        font-family: $default-font-family-bold;
        font-size: 18px;
        border-radius: 0;
        border-width: 2px;
        padding: 12px 38px;
        margin: 0 auto;
        display: block;
        line-height: 1.2;
    }
}
